<div class="mt-4 p-3 col info-page">
    <h2 class="text-center">Welcome To RocketShip!</h2>
    <h5 class="text-center">How to play</h5>
    <p>This game is played with a standard 52 card deck (or two decks, if you prefer; I usually do). No Jokers.
    Warning: This is a high level of drinking. Play responsibly.
    Play goes around the table, as each player guesses what the card is, depending on the round (listed below) Each card is dealt face-up to the guesser after they guess.</p>
    <p>What to guess for each round:</p>
    <ol>
        <li>Red or Black</li>
        <li>Higher or Lower (than the last card they guessed; if it's the same, they are wrong)</li>
        <li>Inside or Outside (between the last two cards, or not. If it's the same card for either, it's wrong).</li>
        <li>Choose a Suit (Clubs, Hearts, you get it)</li>
        <li>Choose 3 cards (i.e. Aces, 5s and 7s)</li>
    </ol>
    <p>If they get it right, they assign the drinks. If they are wrong, they drink them. Drinks are double whatever round you are on (or just what round you are on, if you want to take it easy).
    Next, you deal cards as shown. This is the Rocketship.</p>
    <p>Start on the right bottom row, with the left side. Flip the card over, and if someone has it (as in, they have a 4 if it's flipped), they get to assign 2 drinks (double the row). Next, flip the right side. If someone has it, they have to drink. For the fifth level, whoever has it assigns half a beer. For the last level, they drink a full beer.
    This is best for 4 - 6 players, though can still be fun for 2-8 (definitely 2 decks for 6 or more players).</p>
    <partial name="_NewGame"></partial>
</div>